<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!--default rule_cmdstr.txt -->
		<add key="ruleCmdFileName" value="rule_cmdstr.txt"/>
		<!--default Application.StartupPath -->
		<add key="ruleCmdFolder" value=""/>
	</appSettings>
</configuration>