.DS_Store
node_modules
/dist
/.vs/**

obj/**
bak/**
conver/obj/*.*
conver/bin/**

TextConv/obj/**
TextConv/bin/**
bin/UT/**
bin/*.log
bin/textconv.bat

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.pdb

/TextConv/.vs/TextConv/DesignTimeBuild
/TextConv/packages/YamlDotNet.9.1.4
personal_access_token.txt