<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="regfile" value="regfile.txt"/>
      <add key="replace.rule.yml" value="replaceYml"/>
        
      <add key="xpathfile" value="xpathrule.txt"/>
      <add key="xpath.ext" value=".(html?|xml)$"/>
      <add key="xpath.rule.yml" value="yml"/>
      <add key="casemapFile" value="case\CaseDescMap.txt"/>
      <add key="wordmapfile" value="case\WordDictionary.txt"/>
    
      <add key="subHtmlPath" value="src\\(jae.+html?)"/>
      <add key="caseFileName" value="動作確認_{title}_{filename}.txt"/>
      <add key="exportFolder" value="UT"/>
	  <add key="srcfolder" value="C:\workspace\jae\jae\src\main\jssp\src\jae\0012_consalesplan\publish"/>
	  <add key="splitwords" value="\t+"/>
	  <add key="gitrepopath" value="C:\workspace\jae"/>
	  <add key="gitusername" value="wangx"/>
	  <add key="gitusermail" value="wangx@intra-mart.jp"/>

      <add key="writeLog" value="false"/>
      <add key="encoding" value="utf-8"/>
      <add key="maxloop" value="10"/>

      <!-- IE, Chrome -->
      <add key="web.browser" value="IE"/>
      <add key="web.rule.yml" value="webyml"/>
      <add key="web.error.retry" value="1"/>
	</appSettings>
</configuration>